/* -------------------------------------------------------------------------- */
/*                                Tab styles                               */
/* -------------------------------------------------------------------------- */

@import './mfp-tab.variables';

:host {
  @apply inline-block;
}

.mfp-tab {
  @apply relative flex cursor-pointer items-center justify-center rounded-s disabled:cursor-not-allowed disabled:opacity-60;
  @apply text-[length:--mfp-tab--font-size] font-[--mfp-tab--font-weight] leading-[--mfp-tab--line-height] [&:not([disabled])]:hover:bg-hover-ui-primary [&:not([disabled])]:hover:text-hover-text-brand;
  @apply border-0 bg-transparent focus-visible:focus;
  @apply transition-[color,background-color,border-color,box-shadow] duration-300;

  &::after {
    @apply absolute z-[1] block bg-stroke-brand opacity-0 content-empty -inset-be-1;
    @apply transition-opacity duration-300 ease-linear;
  }

  &--horizontal-start,
  &--horizontal-end {
    &::after {
      /**
     * This hack will make the underline larger so it fits till the tab bar edges for the first and last tab button,
     * because the parent container applies some padding to not cut the focus outline style.
     */
      @apply -start-xs3 bs-[2px] is-[calc(100%_+_var(--mfp-spacing-xs2))];
    }
  }

  &--vertical-start {
    @apply justify-end is-full;

    &::after {
      @apply -end-xs2 bs-[calc(100%_+_var(--mfp-spacing-xs2))] is-[2px];
    }
  }

  &--vertical-end {
    @apply justify-start is-full;

    &::after {
      @apply -start-xs2 bs-[calc(100%_+_var(--mfp-spacing-xs2))] is-[2px];
    }
  }

  &[aria-selected='true']::after {
    @apply opacity-100;
  }

  &--small {
    @apply p-b-[--mfp-tab--padding-vertical-small] p-i-[--mfp-tab--padding-horizontal-small];

    ::slotted(mfp-icon) {
      --mfp-icon--size: var(--mfp-tab--icon-size-small) #{!important};
    }
  }

  &--medium {
    @apply p-b-[--mfp-tab--padding-vertical-medium] p-i-[--mfp-tab--padding-horizontal-medium];

    ::slotted(mfp-icon) {
      --mfp-icon--size: var(--mfp-tab--icon-size-medium) #{!important};
    }
  }

  &--large {
    @apply text-l p-b-[--mfp-tab--padding-vertical-large] p-i-[--mfp-tab--padding-horizontal-large];

    ::slotted(mfp-icon) {
      --mfp-icon--size: var(--mfp-tab--icon-size-large) #{!important};
    }
  }
}
